<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--购买次数模态框-->
    <div id="buyMemberModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeBuyMemberModal()">&times;</span>
            <h2>购买次数</h2>
            <form id="editMemberForm">
                <div class="form-group">
                    <label for="buyName">姓名</label>
                    <input type="text" id="buyName" name="name" class="form-control" required readonly>
                </div>
                <div class="form-group">
                    <label for="buyPhone">电话</label>
                    <input type="text" id="buyPhone" name="phone" class="form-control" required readonly>
                </div>
                <div class="form-group">
                    <label for="buyPurchaseCount">购买次数</label>
                    <input type="number" id="buyPurchaseCount" name="purchaseCount" class="form-control" required>
                </div>
                <button type="button" class="btn btn-primary" onclick="buyMember()">购买</button>
            </form>
        </div>
    </div>
</body>
</html>