{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会员管理</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--会员管理css-->
<link rel="stylesheet" href="{% static 'css/member_management.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
<!-- 新增会员模态框 -->
{% include 'member_management/add_member_modal.html' %}
    <!-- 更新会员模态框 -->
{% include 'member_management/edit_member_modal.html' %}
<!--购买次数模态框-->
{% include 'member_management/buy_member_modal.html' %}

<!-- 导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">会员管理</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'operation-log' %}" id="operation-log" >操作日志</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" id="logout">登出</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <h2 class="text-center mb-4">会员管理</h2>
    <!-- 会员管理功能 -->
    <div id="member-management" class="card mb-4">
        <div class="card-header">会员管理</div>
        <div class="card-body">
            <form  class="mb-3">
                <div id="search-member-form" class="form-row">
                    <div class="col">
                        <label for="search-name"></label><input type="text" class="form-control" id="search-name" name="search_name" placeholder="姓名">
                    </div>
                    <div class="col">
                        <label for="search-phone"></label><input type="text" class="form-control" id="search-phone" name="search_phone" placeholder="电话">
                    </div>
                    <div class="col align-self-end">
                        <button type="submit" class="btn btn-primary" id="search-member-button">查询</button>
                        <button type="button" class="btn btn-primary" id="add-member-button" onclick="showAddMemberModal()">新增会员</button>
                    </div>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>购买次数</th>
                    <th>剩余次数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="member-list">
                <!-- 会员数据会在这里添加 -->
                </tbody>
            </table>
            <div class="container">
                <!-- 分页组件 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" id="pagination">
                        <li class="page-item" id="first-page">
                            <a class="page-link" href="#" tabindex="-1" >首页</a>
                        </li>
                        <li class="page-item" id="prev-page">
                            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item" id="next-page">
                            <a class="page-link" href="#">&raquo;</a>
                        </li>
                        <li class="page-item" id="last-page">
                            <a class="page-link" href="#">末页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/member_management.js' %}?v={{ timestamp }}"></script>
</body>
</html>